



/* Global */
:root {
	--sus: #000000;
	--sus_gradient: linear-gradient(to bottom right, lightskyblue, paleturquoise);

	/*--primary: #0084AA;
	--secondary: #02BFC5;
	--tertiary: #E0F7E5;
	--quaternary: #AAE8DB;

	--light: #FFFFFF;
	--dark: #02537E;*/

	--primary: #000000;
	--secondary: #090909;
	--tertiary: #050505;
	--quaternary: #010101;

	--light: #FFFFFF;
	--dark: #000000;
}

html { scroll-behavior: smooth; }

body {
	font-family: "Helvetica";
	margin: 0;
	background-color: black;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

h2 {
	font-size: clamp(2rem, 3.1vw + 2rem, 6rem);
	margin: 3vw;
	margin-top: 200px;
	color: white;
	/*text-decoration: underline;*/
	text-align: center;
}

h3 {
	font-size: clamp(1.2rem, 2.1vw + 1.2rem, 4rem);
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	/*border: 5px solid red;*/
}


/* Header */

header {
	position: fixed;
	top: 0;
	z-index: 3;

	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: var(--primary);*/
	/*background-image: var(--main_gradient);*/

	height: 10vh;
	width: clamp(0px, 100%, 2000px);
	margin: 0px;
	padding: 0px;
}

header > .header_bg {
	position: fixed;

	background-color: var(--primary);
	opacity: 0%;

	height: 10vh;
	width: clamp(0px, 100%, 2000px);
	margin: 0px;
	padding: 0px;

	border-bottom: 2px solid white;
}

	/* Navigation Bar */
#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 70%;
	height: 45px;
	z-index: 4;
	margin-left: auto;
	margin-right: auto;
}

#navbar > div {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background-color 300ms ease-in-out;
}

#navbar > div:hover { background-color: rgba(255, 255, 255, 0.8); }

#navbar > div > a {
	font-size: 20px;
	color: var(--light);
	text-decoration: none;

	transition: color 500ms ease-in-out;
}

#navbar > div:hover > a { color: black; }


		/* Projects Dropdown */
#projects { 
	position: relative;
	width: 130px;
}

#projects span {
	cursor: pointer;
	transition: color 300ms ease-in-out;
}

#projects:hover span { color: black; }

.dropdown-trigger {
	font-size: 20px;
	color: var(--light);
	text-decoration: none;
	transition: color 500ms ease-in-out;
}

#projects:hover .dropdown-trigger {
	color: black;
}

#projects .dropdown-menu {
	position: absolute;
	top: -340px;
	left: -10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow: hidden;
	z-index: -1;
	padding-top: 70px;

	width: 170px;
	height: 300px;
	opacity: 0%;
	transition: top 500ms ease-in-out, opacity 500ms ease-in-out;
}

#projects:hover .dropdown-menu {		/* Deployed */
	top: -10px;
	opacity: 100%;
}

#projects .dropdown-menu div:not(.dropdown_bg) {
	position: relative;
	left: 10px;

	width: 130px;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background-color 300ms ease-in-out;
}

#projects .dropdown-menu div:not(.dropdown_bg):hover { background-color: rgba(255, 255, 255, 0.8); }

#projects .dropdown-menu div:not(.dropdown_bg) a {
	font-size: 20px;
	color: var(--light);
	text-decoration: none;

	vertical-align: middle;

	transition: color 500ms ease-in-out;
}

#projects .dropdown-menu div:not(.dropdown_bg):hover a { color: black; }



#projects .dropdown_bg {
	position: fixed;

	background-color: rgb(20, 20, 20);
	border-bottom: 2px solid white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	width: 150px;
	height: 320px;

	/*top: 10vh;*/
	margin: 0px;
	padding-left: 20px;

	z-index: -1;
}


	/* Hamburger Menu */
#hambar {
	display: none;
	cursor: pointer;
}


	/* Mobile Navigation Bar */
#mobile_navbar {
	display: none;
	cursor: pointer;
	user-select: none;
}

	/* Pearto */
#pearto {
	position: fixed;
	bottom: -15em;
	padding: 0px;

	height: 173px;
	width: auto;

	animation-name: idle-bottom;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes idle-left {		0% { bottom: -1em; }							100% { bottom: -1em; }							} 
@keyframes idle-right {		0% { transform: scale(-1, 1); bottom: -1em; }	100% { transform: scale(-1, 1); bottom: -1em; }	}
@keyframes idle-bottom {	0% { bottom: -15em; } 							100% { bottom: -15em; } 						}

@keyframes spin-left-to-right {
	0% { transform: scale(1, 1); 	bottom: -1em; }
	100% { transform: scale(-1, 1);	bottom: -1em; }
}

@keyframes spin-right-to-left {
	0% { transform: scale(-1, 1);	bottom: -1em; }
	100% { transform: scale(1, 1);	bottom: -1em; }
}

@keyframes jump-left {
	0% {
		bottom: -1rem;
		transform: scale(1, 1);
	}
	10% {
		bottom: -4rem;
		transform: scale(1.2, 0.7);
	}
	40% {
		bottom: 9rem;
		transform: scale(0.8, 1.1);
	}
	50% {
		bottom: 10rem;
		transform: scale(1, 0.7);
	}
	60% {
		bottom: 9rem;
		transform: scale(1.2, 0.65);
	}
	70% {
		bottom: -1rem;
		transform: scale(1.35, 0.6);
	}
	80% {
		bottom: -4rem;
		transform: scale(1.4, 0.5);
	}
	100% {
		bottom: -1rem;
		transform: scale(1, 1);
	}
}

@keyframes jump-right {
	0% {
		bottom: -1rem;
		transform: scale(-1, 1);
	}
	10% {
		bottom: -4rem;
		transform: scale(-1.2, 0.7);
	}
	40% {
		bottom: 9rem;
		transform: scale(-0.8, 1.1);
	}
	50% {
		bottom: 10rem;
		transform: scale(-1, 0.7);
	}
	60% {
		bottom: 9rem;
		transform: scale(-1.2, 0.65);
	}
	70% {
		bottom: -1rem;
		transform: scale(-1.35, 0.6);
	}
	80% {
		bottom: -4rem;
		transform: scale(-1.4, 0.5);
	}
	100% {
		bottom: -1rem;
		transform: scale(-1, 1);
	}
}



@keyframes jump-in-out {
	0% {
		bottom: -15rem;
		transform: scale(1, 1);
	}
	50% {
		bottom: 10rem;
		transform: scale(1, 1);
	}
	70% {
		bottom: -1rem;
		transform: scale(1.1, 0.8);
	}
	80% {
		bottom: -4rem;
		transform: scale(2, 0.3);
	}
	100% {
		bottom: -1rem;
		transform: scale(1, 1);
	}
}



/* ----------------------------------------------------------------------------------- */

/* About */
#about {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/art-projects/missioncomplete.png');
	background-size: 100% auto;
	background-attachment: fixed;
	margin: 0px;
	margin-bottom: 8vw;
}

#profile {
	display: grid;
	grid-template-columns: 1fr 1fr; 
  	grid-template-rows: 1fr 2fr 1fr; 
  	grid-template-areas: 
    	"profile-pic	name"
    	"profile-pic	first-text"
    	"second-text	second-text";

	justify-content: center;
	align-items: center;

	margin: clamp(10px, 2.5vw, 50px);
	margin-top: 0px;
	padding: 40px;
	padding-top: 10vh;
}

#profile-pic {
	position: relative;

	grid-area: profile-pic;
	display: flex;
	justify-content: center; 
}

#profile-pic img {
	position: relative;

	min-width: 10vw;
	max-width: 25vw;
	height: auto;

	/*border: 5px solid white;*/
	border-radius: 50%;
	transform: rotate(-5deg);
	/*box-shadow: 10px 15px 10px black;*/
}

#name {
	position: relative;

	font-size: clamp(16px, 6.5vw, 80px);
	color: var(--light);
	text-align: end;
}


#first-text {
	position: relative;

	grid-area: first-text;
	padding: 1.5em;
	height: 50%;

	border-radius: 30px;
	font-size: clamp(12px, 1.5vw, 24px);
	line-height: 1.6;
	color: var(--light);
	background-color: var(--secondary);
	z-index: 1;
	/*border: 4px solid white;*/
}

#second-text {
	position: relative;

	grid-area: second-text;

	/*border: 1px solid black;*/
	font-size: clamp(14px, 2.5vw, 34px);
	font-style: italic;
	color: var(--light);
	/*background-color: var(--dark);*/
}


/* ----------------------------------------------------------------------------------- */


/* Education */
#education ul {
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

#education li {
	position: relative;
	height: 30vw;
	padding-top: 1vw;
	margin-bottom: 2vw;

	font-size: 0px;
	color: white;
}

.school-things {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 3vw 3vw;
	grid-template-areas: 
	"activities 	text1"
	"achievements	text2";
	
	margin-left: 5vw;
	font-size: clamp(10px, 2vw, 40px);
}

.school-things:nth-child(1) { grid-area: activities; }
.school-things:nth-child(2) { grid-area: text1; }
.school-things:nth-child(3) { grid-area: achievements; }
.school-things:nth-child(4) { grid-area: text2; }

.gallery {
	position: absolute;
	top: 0px;
	left: auto;
	right: auto; 
	margin-top: 0px;
	margin-bottom: 0px;

	display: flex;
	gap: 0px;
	width: 100%;

	overflow: scroll;
	touch-action: none;
	z-index: -1;
}

.gallery::-webkit-scrollbar {
	display: none;
}

.gallery img {
	position: relative;
	filter: brightness(70%);
	height: 30vw;
}


/* ----------------------------------------------------------------------------------- */


#interests {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr;
	gap: 1rem;

	justify-items: center;
	align-items: center;
	/*border: 3px solid yellow;*/
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	width: 100%;
	height: clamp(500px, 50vh + 16em, 1000px);
}

#interests div {
	overflow: hidden;
	position: relative;
	border: 2px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 0px white;
	width: 90%;
	height: clamp(500px, 50vh + 16em, 700px);

	display: grid;
	grid-template-rows: 1fr 3fr 2fr;
	grid-template-columns: 1fr; 

	transition: box-shadow 300ms ease-in-out, width 300ms ease-in-out, height 300ms ease-in-out;
}

#interests div:hover {
	box-shadow: 0px 0px 20px white;
} 

#interests div h3 {
	margin-top: auto;
	margin-bottom: auto;
	font-size: clamp(1rem, 1vw + 1rem, 4rem);
	transition: font-size 300ms ease-in-out;
}

#interests div p {
	margin-top: auto;
	margin-bottom: auto;
	width: 60%;
	font-size: 140%;
	margin-left: auto;
	margin-right: auto;
	transition: font-size 300ms ease-in-out, width 300ms ease-in-out;
}

#interests div img {
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: width 300ms ease-in-out;
}


/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Responsive Adjustments */
@media (max-width: 780px) {								/* Header and About */
	/* Global */

	/* Header */
	header { justify-content: flex-end; }

	#navbar {
		display: none;
		cursor: pointer;
	}

	/* Hamburger Navigation Bar */
	#hambar {
		display: grid;
	  	grid-template-columns: 1fr;
	  	grid-template-rows: 1fr 1fr 1fr;

	  	gap: 20% 0px;
	  	grid-auto-flow: row;
	  	justify-content: start;

	    height: 30px;
	    width: 40px;
	    margin: 5px;
	    margin-right: 15px;

	    z-index: 4;
	}

	#hambar div {
		background-color: var(--light);
	}

	/* Mobile Navigation Bar */
	#mobile_navbar {
		background-color: black;
		position: fixed;
		top: 0em;
		right: -12em;

		width: 10em;
		height: 100dvh;
		
		padding-top: 160px;
		padding-right: 20px;

		display: flex;
		flex-direction: column;

		transition: right 300ms;
	}

	#mobile_navbar > div {
		margin-bottom: 60px;
		text-align: end;
	}

	#mobile_navbar > div > a {
		font-size: 30px;
		color: var(--light);
		text-decoration: none;
	}

	.dropdown-trigger {
		font-size: 30px;
		text-align: end;
	}

			/* Mobile Projects Dropdown */
	#mobile_projects { 
		position: relative;
		text-align: end;
		width: 160px;
	}

	#mobile_projects:hover .dropdown-trigger {
		color: black;
	}

	#mobile_projects .dropdown-menu {
		position: absolute;
		top: 0px;
		right: 0px;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		overflow: hidden;
		z-index: -1;

		width: 170px;
		height: 280px;
		opacity: 0%;

		transition: right 500ms ease-in-out, opacity 500ms ease-in-out;
	}

	#mobile_projects:hover .dropdown-menu {
		right: 160px;
		opacity: 100%;
	}

	#mobile_projects .dropdown-menu div:not(.dropdown_bg) {
		position: relative;
		left: 10px;

		width: 130px;
		height: 45px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 10px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: background-color 300ms ease-in-out;
	}

	#mobile_projects .dropdown-menu div:not(.dropdown_bg):hover { background-color: rgba(255, 255, 255, 0.8); }

	#mobile_projects .dropdown-menu div:not(.dropdown_bg) a {
		font-size: 20px;
		color: var(--light);
		text-decoration: none;

		vertical-align: middle;

		transition: color 500ms ease-in-out;
	}

	#mobile_projects .dropdown-menu div:not(.dropdown_bg):hover a { color: black; }



	#mobile_projects .dropdown_bg {
		position: fixed;

		background-color: rgb(20, 20, 20);
		border-left: 2px solid white;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;

		width: 150px;
		height: 290px;

		/*top: 10vh;*/
		margin: 0px;
		padding-left: 20px;

		z-index: -1;
	}


	/* About */
	#about {
		background-size: auto 100%;
	}

	#profile {
		grid-template-columns: 1fr; 
  		grid-template-rows: 4fr 1fr 2fr 1fr; 
  		grid-template-areas: 
    		"profile-pic"
    		"name"
    		"first-text"
    		"second-text";

    	padding-left: clamp(10px, 1vw, 20px);
    	padding-right: clamp(10px, 1vw, 20px);
    }

    #profile-pic img {
    	min-width: 40vw; 
    	max-width: 50vw;
    	height: auto;
    	margin-bottom: clamp(20px, 2vw, 30px);
    }

    #name {
    	text-align: center;
    	font-size: clamp(10px, 8vw, 80px);
    }

    #first-text {
    	text-align: center;
    	font-size: clamp(4px, 2.7vw, 80px);
    	border-radius: 24px;
    }

    #second-text {
    	text-align: center;
    	font-size : clamp(10px, 3.3vw, 80px);
    }

    /* Education */
    #education li {
    	height: 95vw;
    }

    #education h3 span {
    	content: "\a";
    	white-space: pre;
    }

    .school-things {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 3fr;
		grid-template-areas: 
		"activities achievements"
		"text1		text2";
	
		margin-left: 0px;
		font-size: clamp(20px, 4vw, 40px);
	}

    .gallery img {
    	width: 95vw;
    	height: auto;
    }

    /* Career Interests */
    #interests {
		grid-template-columns: 2fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: clamp(2000px, 800vw + 10em, 2200px);
	}

	#interests div {
		height: clamp(200px, 80vw + 10em, 880px);
		padding: auto;
		width: 80%;
	}

	#interests div:hover {
		height: clamp(200px, 80vw + 10em, 880px);
	}


	#interests div h3 {
		font-size: clamp(1.2rem, 2.5vw + 1.8rem, 2rem);
	}

	#interests div p {
		font-size: clamp(1rem, 2vw + 0.6rem, 3rem);
		width: 60%;
	}

	#interests div img {
		width: 100%;
	}
}

@media (min-width: 475px) 	{ .container {max-width: 475px;} }
@media (min-width: 640px) 	{ .container {max-width: 640px;} }
@media (min-width: 768px) 	{ .container {max-width: 768px;} }
@media (min-width: 1024px) 	{ .container {max-width: 1024px;} }
@media (min-width: 1280px) 	{ .container {max-width: 1280px;} }
@media (min-width: 1536px) 	{ .container {max-width: 1536px;} }





/*@media (min-width: 475px) 	{ .container {max-width: 475px;} }
@media (min-width: 640px) 	{ .container {max-width: 640px;} }
@media (min-width: 768px) 	{ .container {max-width: 768px;} }
@media (min-width: 1024px) 	{ .container {max-width: 1024px;} }
@media (min-width: 1280px) 	{ .container {max-width: 1280px;} }
@media (min-width: 1536px) 	{ .container {max-width: 1536px;} }*/

















/* ----------------------------------------------------------------------------------- */

/* Art-Projects */

/*.art-images {
	background-color: cyan;
	padding-top: 40px;
	padding-bottom: 40px;

	display: grid;
	grid-row-gap: 20px;
	border: 2px solid black;	 Temporary 
	grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.art-images img {
	border-radius: 25px;
	max-width: 400px;
	max-height: auto;
}*/