


/* Essentials */
@import url('https://fonts.cdnfonts.com/css/winkle');

:root {
	--main-color: #f5dde0;
	--secondary-color: #eabce3;
}





body {
	position: relative;
	background-color: black;
	user-select: none;
	overflow: hidden;
}

#game {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	display: block;
}

#cake {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#card {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--main-color);
	display: none;
	width: 1000px;
	height: 2000px;
}





/* Card */

	/* Conveyer */
.razzmatazz {
	width: 1000px;
	height: 100px;
	object-fit: cover;
}

#conveyer {
	width: 1000px;
	height: 100px;

	background-color: #d0637c;
}

#conveyer-overlay {
	position: absolute;
	left: 0%;
	width: 1000px;
	height: 100px;
	object-fit: cover;
}





	/* Intro */
#intro {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	height: 500px;
	border: 10px dashed var(--secondary-color);

	margin-bottom: 10px;
}

#intro span:first-child {
	margin-right: 50px;
}

#letter {
	position: relative;
	left: 50px;
	width: 500px;
	height: 250px;
	font-size: 20px;
	font-style: italic;
}


#pfp {
	position: relative;
	width: 300px;
	height: 300px;

	rotate: 10deg;

	animation-name: bounce;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	transition: transform 0.1s ease-in;
}

#pfp:hover {
	transform: scale(105%);
}


#pfp img:first-child {
	position: absolute;
	width: 300px;
	height: auto;
}

#pfp img:nth-child(2) {
	position: absolute;
	width: 350px;
	height: auto;

	top: -30%;
	left: -10%;
}


#ugay {
	position: absolute;
	width: 150px;
	top: 29%;
	left: 30%;
	transition: width 0.1s ease-in, top 0.1s ease-in, left 0.1s ease-in;
}

#ugay:hover {
	width: 160px;
	top: 28.5%;
	left: 29.5%;
}



#godzilla {
	position: absolute;
	width: 100px;
	top: 12%;
	left: 14%;
	transition: width 0.1s ease-in, top 0.1s ease-in, left 0.1s ease-in;
}

#godzilla:hover {
	width: 110px;
	top: 11.5%;
	left: 13.5%;
}






/* Ornaments */
.buffer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	background-color: black;
	width: 1000px;
}

.buffer img {
	height: 73.3px;
}






/* Scrolling Imgs */
.gallery-container {
	height: 220px;
}

.gallery {
	position: relative;
	top: 10px;
	display: flex;
	gap: 10px;

	overflow: scroll;
	touch-action: none;
}

.gallery::-webkit-scrollbar {
	display: none;
}

.gallery img {
	position: relative;
	height: 200px;

	transition: height 0.2s ease, top 0.2s ease-in, left 0.2s ease-in;
}

.gallery img:hover {
	top: 0px;
	height: 220px;
}








/* Slut */
#slut {
	width: 1000px;
	height: 700px;
}

#slut img {
	width: 1000px;
	height: 300px;
}









/* Popup */
#popup {
	position: fixed;
	right: 0px;
	top: -100%;

	width: 500px;
	height: 100px;
	border: 8px solid var(--secondary-color);
	background-color: black;
	color: white;
	font-family: Helvetica;
}

#popup img {
	position: absolute;
	top: 10px;
	left: 10px;

	width: 80px;
	border-radius: 10px;
}

#popup h2 {
	position: relative;
	top: -5px;
	left: 110px;
	color: var(--main-color);
}

#popup p {
	position: relative;
	top: -18px;
	left: 130px;
}

#popup h5 {
	position: relative;
	top: -30px;
	left: 320px;
}

.pop {
	animation-name: appear;

	animation-duration: 8s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}














@keyframes bounce {
	0%		{top: 0px;}
	25%		{top: -20px;}
	75%		{top: 20px;}
	100%	{top: 0px;}
}

@keyframes appear {
	0%		{top: -100%;}
	10%		{top: 2%;}
	13%		{top: -1%;}
	16%		{top: 0%;}
	75%		{top: 0%;}
	80%		{top: 2%;}
	100%	{top: -100%;}
}







@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}